[winUpdater]
	recentlySeenVersion = 2.25.0.windows.1
[alias]
	co = checkout
    su = submodule update --init --recursive
    sync = submodule sync --recrusive
	st = status
	cam = commit -a -m
	cp = cherry-pick
	sync = submodule sync --recursive
	db = branch -D
[user]
	email = henning.erlandsen@mojang.com
	name = Henning Erlandsen

